<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Near Lustrous Grouse</title>
    <meta property="og:title" content="Near Lustrous Grouse" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">

    </style>
    <style data-tag="default-style-sheet">
      html {
          font-family: Inter, sans-serif;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />

  </head>
  <body>
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" />

    <div>
      <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />


      <div class="home-container">
        <div id="navigation_main_container" class="home-container01">
          <header id="nav_bar_header" data-role="Header" class="home-header">
            <span id="Uber-link" class="home-text">Uber</span>
            <div id="nav_bar_links" class="home-nav">
              <a href="{{ url_for('viaje') }}" class="home-text01">Viaje</a>
              <a href="https://www.uber.com/co/es/drive/?uclick_id=94734c9d-4c2c-4982-ae58-20ee99f4db00" class="home-text02">Conducir</a>
              <a href="https://www.uber.com/co/es/business/?uclick_id=94734c9d-4c2c-4982-ae58-20ee99f4db00" class="home-text03">Uber para empresas</a>
              <a href="https://www.ubereats.com/?uclick_id=94734c9d-4c2c-4982-ae58-20ee99f4db00" class="home-text04">Uber eats</a>
              <a href="https://www.uber.com/co/es/about/?uclick_id=94734c9d-4c2c-4982-ae58-20ee99f4db00" class="home-text05">Más información</a>
            </div>
            <div id="nav_bar_buttons" class="home-btn-group">
              <a href="https://www.uber.com/co/en/ride/?ad_id=687156507569&adg_id=156813381559&campaign_id=20931062371&cre=687156507569&dev=c&dev_m=&fi_id=&gad_source=1&gclid=EAIaIQobChMIsLD-8OichAMV16NaBR1--wgXEAAYASAAEgLTifD_BwE&gclsrc=aw.ds&kw=uber&kwid=kwd-12633382&match=b&net=g&placement=&tar=&utm_campaign=CM2358409-search-google-brand_38_-99_CO-National_r_web_acq_cpc_es_T2_Generic_BM_uber_kwd-12633382_687156507569_156813381559_b_c&utm_source=AdWords_Brand" id="Login" class="home-button button">Login</a>
              <a href="https://www.uber.com/co/en/ride/?ad_id=687156507569&adg_id=156813381559&campaign_id=20931062371&cre=687156507569&dev=c&dev_m=&fi_id=&gad_source=1&gclid=EAIaIQobChMIsLD-8OichAMV16NaBR1--wgXEAAYASAAEgLTifD_BwE&gclsrc=aw.ds&kw=uber&kwid=kwd-12633382&match=b&net=g&placement=&tar=&utm_campaign=CM2358409-search-google-brand_38_-99_CO-National_r_web_acq_cpc_es_T2_Generic_BM_uber_kwd-12633382_687156507569_156813381559_b_c&utm_source=AdWords_Brand" id="Sign-in" class="home-button1 button">Sign in</a>
            </div>
          </header>
        </div>


        <div id="second_,main" class="home-second-main">
          <div id="second_main_inner_left" class="home-container02">
            <div id="inner_left" class="home-container03">
              <span id="texto_2" class="home-text06">
                <span>Viaja a cualquier</span>
                <br />
                <span>
                  <span></span>
                  <span></span>
                </span>
                <span>lugar&nbsp;</span>
                <span>
                  <span>con la</span>
                  <span></span>
                </span>
                <br />
                <span>app de Uber</span>
              </span>
              <span id="pide_viaje" class="home-text18">
                Pide un viaje, súbete al vehículo y relájate.
              </span>
             <form action="{{ url_for('process_form') }}" method="post">
              <input
                type="text"
                id="ingresar_punto_inicio"
                name="ingresar_punto_inicio"
                placeholder="Ingresar ubicación"
                class="home-textinput input"
              />
              <input
                type="text"
                id="ingresar_punto_final"
                name="ingresar_punto_final"
                placeholder="Ingresar destino"
                class="home-textinput1 input"
              />
              <button
                id="ver_precios"
                name="ver_precios"
                type="submit"
                class="home-button2 button"
              >
                Ver precios
              </button>
            </form>

            </div>
          </div>
          <div id="second_main_inner_right" class="home-container04">
            <img
              id="woman_image"
              alt="pastedImage"
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/5cf1a6e5-3fd1-458e-9ad8-f85d73f61de7/7e3eb18c-6cf5-4919-96fb-161cf0387245?org_if_sml=1159037&amp;force_format=original"
            />
          </div>
        </div>
        <div class="home-third-main">
          <div id="third_main_inner_left" class="home-container05">
            <img src="{{ url_for('static', filename='pastedimage-ulqd-200h-200h.png') }}" alt="pastedImage">

          </div>
          <div id="third_main_inner_right" class="home-container06">
            <span class="home-text19">
              <br />
              <br />
              <span>Conduce cuando</span>
              <br />
              <span>quieras y genera las ganancias&nbsp;</span>
              <br />
              <span>que necesites</span>
              <span></span>
              <span></span>
            </span>
            <span class="home-text29">
              Genera ganancias en tu propio tiempo con entregas, viajes o ambos.
              Puedes usar tu propio auto u optar por un vehículo de renta a
              través de la app de Uber.
            </span>
            <div class="home-container07">
              <form action="{{ url_for('comenzar_action') }}" method="post">
              <button id="Comenzar" name="Comenzar" type="submit" class="home-button3 button">
                Comenzar
              </button>
              </form>
                <span id="link_tienes_cuenta" class="home-text30">
                  ¿Ya tienes una cuenta? <a href='https://www.uber.com/co/en/?ad_id=687156507569&campaign_id=20931062371&gclid=EAIaIQobChMIsLD-8OichAMV16NaBR1--wgXEAAYASAAEgLTifD_BwE&kw=uber&kwid=kwd-12633382&uclick_id=7281013b-4666-4290-8636-5649eff4ed7d&utm_campaign=CM2358409-search-google-brand_38_-99_CO-National_r_web_acq_cpc_es_T2_Generic_BM_uber_kwd-12633382_687156507569_156813381559_b_c&utm_source=AdWords_Brand'>Inicia sesión</a>
                </span>

            </div>
          </div>
        </div>
        <div id="fourth_main_container" class="home-fourth-main">
          <div id="fourth_main_inner_left" class="home-container08">
            <div class="home-container09">
              <span class="home-text31">
                <span>La misma</span>
                <br />
                <span>plataforma de</span>
                <br />
                <span>Uber, reinventada</span>
                <br />
                <span>para los negocios</span>
              </span>
              <span class="home-text39">
                <span>Uber para Empresas es una plataforma con la que las</span>
                <br />
                <span>
                  <span>
                    empresas de todos los tamaños pueden gestionar viajes y
                  </span>
                  <span></span>
                </span>
                <br />
                <span>comidas globales, así como entregas locales.</span>
              </span>
              <div class="home-container10">
                  <form action="{{ url_for('comenzar_action_2') }}" method="post">
                    <button id="Comenzar_2" name="comenzar_2" type="submit" class="home-button4 button">
                      Comenzar
                    </button>
                  </form>

                  <span id="conoce_soluciones" class="home-text47">
                    <a href='https://www.uber.com/co/en/business/?ad_id=687156507569&campaign_id=20931062371&gclid=EAIaIQobChMIsLD-8OichAMV16NaBR1--wgXEAAYASAAEgLTifD_BwE&kw=uber&kwid=kwd-12633382&uclick_id=7281013b-4666-4290-8636-5649eff4ed7d&utm_campaign=CM2358409-search-google-brand_38_-99_CO-National_r_web_acq_cpc_es_T2_Generic_BM_uber_kwd-12633382_687156507569_156813381559_b_c&utm_source=AdWords_Brand'>Conoce nuestras soluciones.</a>
                  </span>
              </div>

            </div>
          </div>
          <div id="fourth_main_inner_right" class="home-container11">
            <img
              id="third-image"
              alt="pastedImage"
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/5cf1a6e5-3fd1-458e-9ad8-f85d73f61de7/09128bde-de25-485d-bc04-d1245341dbcf?org_if_sml=1118140&amp;force_format=original"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
